@media only screen and (max-width:1440px) and (max-height:1024px) {

    .form-input2 input::placeholder {
        color:rgba(53, 53, 53, 0.5) !important;
        font-family: Manrope !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        line-height: 24.59px !important;
        letter-spacing: 0.15em !important;
        text-align: left !important;
      }
      
      
      .div-2{
          background-image: url(../../Images/Vector\ 28.png) !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position-x: center !important;
      }
    
    
     .parent-div{
        width: 1440px !important;

      

        
     }

     .child1-div{
        width: 100% !important; 
        height: 80px !important;
     }

     .child1-div-img{
        text-align: justify !important;

      
     }
     .rof{
        margin: 8px 90px !important;
    }
     .child2-div{
        display: flex !important;

        .child2-div-enroll{
            width: 35% !important;
             height: 620px !important;
        }

        .child2_div_enroll_text{
            position: absolute  !important;
            top: 110px !important;
            left: 114px !important;
            gap: 0px !important;
            opacity: 0px !important;
            font-family: Castoro Titling !important;
            font-size: 24px !important;
            font-weight: 600 !important;
            line-height: 37.69px !important;
            text-align: left !important;
            color: rgba(255, 255, 255, 1) !important;
        }
     }

   
    
}




  